/* --- Reset --- */
*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

html {
    color-scheme: dark light;
}

body {
    min-height: 100vh;
    
}

img, picture, svg, video {
    display: block;
    max-width: 100%;
}
/* --- Reset --- */

/* --- Variables --- */
:root {
    --bg-img-layer: -10;
    --nav-layer: 10;
    
}
/* --- Variables --- */
body{
    display: flex;
    flex-direction: column;
    
}
#navbar{
    background-color: grey;
    display: flex;
    color: black;
    justify-content: space-between;
    padding: 10px 10px;
    border-bottom: 3px solid black;
    align-items: center;
    font-weight: bolder;
}
#about{
    margin-right: 20px;
}
button{
    padding: 3px 5px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: bolder;
}
#first-container, #second-container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;

}

.more{
    position: absolute;
    right: -25px;
    bottom: -10px;
    padding: 5px 25px;
}
.boxes{
    position: relative;
    width: 450px;
    height: 150px;
    border: 3px solid black;
    margin-top: 10%;
    padding-top: 2rem;
    padding-left: 1.5rem;
}
.boxes2{
    position: relative;
    width: 450px;
    height: 150px;
    border: 3px solid black;
    margin-top: 10%; 
    margin-bottom: 10%;
    padding-top: 2rem;
    padding-left: 1.5rem;
}


#footer{
    display: flex;
    justify-content: space-around;
    background-color: gray;
    color: black;
    padding: 10px;
    font-weight: bold;
    
}

